@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 75%;
    margin: auto;
    background-color: #F5F6F8;
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    
    
    
}
a{
    display: block;
}

section{
    padding: 100px 0px;
}
header{
    padding: 50px 0px;
    margin-bottom: 350px;
}
footer{
    padding: 100px 0px;
}
i{
    color: #AFAEB4;
    
}
.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-it-works .split{
    max-width: 75%;
    gap: 40px;
    
}
/*Utility*/
.split{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
}
.text-center{
    text-align: center;
    margin: 80px 0px;
}
.text-center h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: -0.01em;
    color: #1E2A39;
    margin-bottom: 16px;
}
.text-center p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #5C6272;
    width: 520px;
    margin: auto;
}
.card{
    background-color: #FFFFFF;
    height: 385px;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #1E2A39;
}
.card .price-tag{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;

color: #EE6D52;
}
.card p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5C6272;
}
.card-text{
    padding: 35px;
}
.card-text h2{
    margin-bottom: 10px;
}
.icon-container{
    height: 90px;
    width: 90px;
    background: #FFFFFF;
    box-shadow: 0px 20px 80px -15px rgba(45, 51, 60, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
}
.icon-container img{
        width: 48px;
        display: block;
}
.text-side h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.5px;
}
.text-side p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5C6272;
}
.text-side .purp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;    
    letter-spacing: 0.17em;
    color: #4141A5;
}
.partners .center img{
    width: 205px;
    margin: 50px 70px;
}
header nav{
    align-items: center;
}
header .logo{
    display: flex;
}
header .logo a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;    
    color: #FFFFFF;
    
}
header .menu{
    display: flex;
    list-style-type: none;
    width: 450px;
    justify-content: space-between;
}
header .menu a {
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.88);
    padding: 10px;
}
header .login{
    border: 1.5px solid #626775;
    box-sizing: border-box;
    border-radius: 4px;
    height: 56px;
    width: 152px;  
}
header .login a{
    display: flex;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFF9F8;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;    
}
header .main-text{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .main-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 78px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 640px;
    margin-bottom: 20px;
}
header .main-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.88;
    width: 500px;
    margin-bottom: 100px;
}
header .search-form{
    width: 750px;
    height: 75px;
    background-color: #FFFFFF;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 40px 80px -22px rgba(98, 89, 89, 0.09);
    border-radius: 4px; 
}

header .search-form input{
border: none;
border-left: 1px solid;
border-color: #E6E6E6;
padding: 0px 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
color: #5E5C68;
opacity: 0.5;
width: 170px;
}
header .search-form i{
    margin: 0px 10px;
}
header .search-form select{
    border: none;
    border-left: 1px solid;
    border-color: #E6E6E6;
    color: #AFAEB4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 0px 10px;
}
header .search-form .search{
    background-color: #34A5E4;
    border-radius: 4px;
    height: 60px;
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 40px;
    opacity: 1;
}












